.active{
    text-decoration: underline !important;
    text-underline-offset: 6px !important;
}
.navbar-color:hover{
    color:#acacac !important;
}
a{
    text-decoration: none !important;
  }
  .navbar-color{
    color: white !important;
  }
  .cor-navbar{
   background-color: #006491
  }
  nav{
    box-shadow: 0 0 0.8125rem 0 rgb(0 0 0 / 75%);
    animation: 1s ease-out 0s 1 slow-shadow;
  }
.logo-size{
  width: 50px;
  margin-left: 20px;
}